- hosts: kmaster
  remote_user: ubuntu
  tasks:
  - name: "create deployment"
    shell: sudo kubectl create deploy nodeapp --image=desiby/docker-nodeapp
  - name: "scale deployment"
    shell: sudo kubectl scale deployment nodeapp --replicas=3
  - name: "create service"
    shell: sudo kubectl expose deploy nodeapp --name=helloservice --port=9000 --type=NodePort
